@import "../vars.scss";

.container {
    margin-top: 2rem;

    h1 {
        font-size: 2.25rem;
        text-align: center;
        margin-bottom: 1.3rem;
    }

    .refresh {
        margin-top: 1rem;
        padding: 0.6rem 1.5rem;
        border-radius: 7px;
        font-size: 1rem;
        color: $base-light;
        background: $primary;
        float: right;
        transition: background-color 0.4s ease;

        &:hover {
            background: $secondary;
        }

        &:disabled {
            background: $base-dim;
            cursor: not-allowed;
        }
    }
}
