@import "../vars.scss";

.hero {
    margin-top: 6rem;
    display: flex;
    justify-content: center;

    .container {
        text-align: center;
        width: 80%;

        :global {
            animation: slideIn 0.75s forwards ease-in;
        }

        h2 {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 0.3rem;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 2.3rem;
            color: $base-dim;
        }

        a {
            padding: 0.9rem 1.8rem;
            border-radius: 16px;
            background: $secondary;
            color: $base-light;
            font-size: 1rem;
            transition: background-color 0.4s ease;

            &:hover {
                background: $primary;
            }
        }
    }

    // @keyframes fadeIn {
    //     from {
    //         opacity: 0;
    //         transform: translateY(7px);
    //     }
    //     to {
    //         opacity: 1;
    //     }
    // }
}
