@import "../vars.scss";

.container {
    margin-top: 2rem;

    h1 {
        margin-bottom: 1.5rem;
        font-size: 2.25rem;
        text-align: center;
    }
}

.modal {
    div {
        font-family: $font;
        border-radius: 7px;

        h1 {
            font-size: 2.1rem;
        }
    }

    button {
        padding: 0.55rem 2.35rem;
        font-size: 0.9rem;
        background: $primary;
        border-radius: 7px;
        transition: background-color 0.4s ease;

        &:hover {
            background: $secondary;
        }
    }
}
